@font-face {
  font-family: "Manifold DSA Regular";
  src: url("fonts/Webfont/ManifoldDSA-Regular.woff2") format("woff2"),
       url("fonts/Webfont/ManifoldDSA-Regular.woff") format("woff");
}

@font-face {
  font-family: "Manifold DSA Bold";
  src: url("fonts/Webfont/ManifoldDSA-Bold.woff2") format("woff2"),
       url("fonts/Webfont/ManifoldDSA-Bold.woff") format("woff");
}

html {
  height: 100%;
}

body {
  position: relative;
  min-height: 100%;
  padding-bottom: 6em;
  box-sizing: border-box;
  font-family: "Manifold DSA Regular", Sans-Serif;
  color: #231F20;
}

input, button, textarea, select {
  font-family: "Manifold DSA Regular", Sans-Serif;
  color: #231F20;
}
  

p, span, a, div, time {
  font-size: 16px;
}

p {
  margin-bottom: .5em;
}

time {
  font-weight: bold;
  margin-bottom: .5em;
  display: inline-block;
}

small {
  font-size: 12px;
}

a {
  color: #EC1F27;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Manifold DSA Bold", Sans-Serif;
  text-align: center;
  margin-bottom: .5em;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2.2em;
}

h3 {
  font-size: 2em;
}

h4 {
  font-size: 1.5em;
}

header {
  margin: 2em 4em;
}

header > p {
  margin: 0 20%;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: row;
  padding-top: 2em;
  height: 100%;
}

.container > section {
  flex: 1 1 0;
  min-width: 100px;
  max-width: 100%;
  height: 100%;
  transition: width 0.5s ease-out;
  padding: 1em 2em;
  text-align: center;
}

article {
  height: 100%;
  transition: width 0.5s ease-out;
  padding: 0 20%;
  text-align: justify;
}

figure {
  margin-top: .5em;
  margin-bottom: .5em;
}

section li {
  margin-bottom: .5em;
}

footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  text-align: center;
  padding-top: 1em;
  height: 4em;
  background-color: #231F20;
  color: white;
}

footer ul {
  margin: 0;
  padding: 0;
}
footer li {
  display: inline;
  list-style-type: none;
  margin-right: 2em;
}

li i {
  margin-right: .2em;
}

i.rose::before {
  font-size: 14px;
  display: inline;
  content: '\1F339';
}

.author {
  font-style: italic;
}

.separator {
	border: 2px solid #EC1F27;
  display: block;
}

.separator.horizontal {
  border-radius: 100em / 1em;
  width: 60%;
  margin-left: 20%;
  margin-bottom: 1em;
}

.separator.horizontal.small {
  border-radius: 50em / .5em;
  border: 1px solid #EC1F27;
}

.separator.vertical {
	border-radius: 1em / 100em;
  height: 100%;
}

#events {
  background-color: lightgray;
  border: 1px solid #EC1F27;
  border-radius: .5em;
}

.img-container {
  width: 100%;
}

#logo {
  display: block;
  max-width: 20em;
  max-height: 16em;
  min-width: 8em;
  min-height: 6em;
  margin: 0 auto;
}

@media screen and (max-width: 640px) {
  .container {
    flex-direction: column;
  }

  img#logo {
    max-width: 100%;
  }

  footer li {
    margin-right: 0;
  }

  #events {
    order: 1;
  }
  #learn {
    order: 2;
  }
  #join {
    order: 3;
  }

  header > p {
    margin: 0 -10%;
  }

  article {
    padding: 2em;
  }
}
